body {
    background-color: #A2C7E5;
}

nav {
    background-color: #FF99C9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

article {
    background-color: #DCEAB2;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

img {
    display: block;
    margin: auto;
}

.navlink {
    text-decoration-line: none;
    color: blue;
    float: none;
    padding: 2px 5px;
    margin: 2px 15px;
    border-radius: 4px;
    transition: 0.5s;
}

.navlink:hover {
    background-color: #FFbbdd;
}

a {
    text-decoration-line: none;
    color: blue;
    border-radius: 4px;
    padding: 2px 5px;
    transition: 0.5s;
}

a:hover {
    background-color: #EDFBC3;
}

.title {
    text-align: center;
}

.comment {
    border-radius: 10px;
    background-color: #FF99C9;
    margin: 20px 20px;
    padding: 10px;
    word-wrap: break-word;
}

.username {
    font-size: 20px;
    padding: 0px;
}

.form {
    margin-top: 10px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.login-form {
    width: 20em;
}

form p {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

button {
    margin-top: 5px;
    font-size: 20px;
}

textarea {
    font-size: 15px;
    margin: auto;
    width: 100%;
    height: 10em;
}

.hello {
    float: left;
    padding: 0px;
    margin: 0px;
}

.log {
    float: right;
    padding: 2px 5px;
    margin: -2px;
    color: blue;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
}

.logout {
    float: right;
}

button.log {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

.log:hover {
    background-color: #FFbbdd;
}

.error {
    text-align: center;
    color: red;
    padding: 0px;
    margin: 0px;
}