<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>{{title}}</title>
</head>
<body>
    {{> header title=title}}
    
    <article>
        <p>Sorry, we could not find {{url}}. 
            If it makes you feel better, you can just blame the government. </p>
    </article>
</body>
</html>