<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>404 Not Found</title>
</head>
<body>
    {{> header title="404 Not Found"}}
    
    <article>
        <p>Sorry, we could not find {{url}}. 
            If it makes you feel better, you can just blame the government. </p>
    </article>
    {{> footer}}
</body>
</html>