<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Comments</title>
</head>
<body>
    {{> header title="Comments"}}
    
    <article>
        {{#each comments}}
            {{> comment name=name content=content created=created}}
        {{/each}}
    </article>
</body>
</html>