<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Home</title>
</head>
<body>
    {{> header title="Home"}}
    
    <article>
        <h2>Lastest comments</h2>
        <a href="/comments">See All Comments</a>
        <a href="/comments/new">Make a New Comment</a>
        {{#each comments}}
            {{> comment name=name content=content created=created}}
        {{/each}}
    </article>
    
    {{> footer}}
</body>
</html>