<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    {{> header title=title}}
    
    <article>
        <p>Hello, this is probably a website, maybe</p>
    </article>
</body>
</html>