<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>New Comment</title>
</head>
<body>
    {{> header title="New Comment"}}
    
    <article>
        <div class="form">
        <form action="/comment" method="POST">
            <p>Comment Content</p>
            <textarea name="content"/></textarea>
            <br />
            <button type="submit">Create Comment</button>
        </form>
        </div>
    </article>
    
    {{> footer}}
</body>
</html>